* {
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
   line-height: 120%;
}

html,
body,
head {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #f6f7f8;
}

li {
  text-decoration: none;
  list-style: none;
  color: #f6f7f8;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
}

.sideNavBar {
  position: relative;
  height: 100%;
  width: 232px;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sideNavBarList {
  color: white;
  gap: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sideNavBarTask {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sideNavBarTask span {
  color: white;
}

.sideNavBarLegalNotice {
  margin: 50px 0px 25px 0px;
}

.placeholderRight {
  position: relative;
  width: calc(100vw - 232px);
}

.placeholderTop {
  position: relative;
  top: 0px;
  height: 89px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 36px 20px 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeholderBottom {
  height: calc(100% - 89px);
}

.placeholderRightLeft {
  position: relative;
  left: 0px;
  height: calc(100% - 89px);
}

/* Logo TopLeftCorner */
.sideNavBarLogo {
  position: absolute;
  top: 66px;
  left: 66px;
  z-index: 3;
}

.whiteLogo {
  position: relative;
  width: 100px;
  height: 121px;
}

.blackLogo {
  position: relative;
  display: none;
}

/* SideBar */
.svg {
  width: 25px;
  height: 25px;
}

.legalnotice {
  margin-top: 100px;
  margin-bottom: 25px;
}

/* Board */
.placeholderBoard {
  height: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.placeholderBoardTop {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .placeholderBoardTopLeft {

} */

.placeholderBoardTopRight {
  display: flex;
  align-items: center;
  gap: 35px;
}

/* .findTaskInputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  width: 251px;
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
} */

.inputFields {
  box-sizing: border-box;
  /* gap: 10px; */
  padding: 10px;
  width: 251px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

::placeholder {
  width: 100px;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #d1d1d1;
}

.inputContainer {
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer img {
  width: 20px;
  height: 18px;
}

.inputFieldContainer {
  position: relative;
}

.inputFieldContainer img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.img {
  right: 22px !important;
}

.inputFieldContainer .inputFieldVerticalLine {
  position: absolute;
  top: 20%;
  left: 75%;
  width: 0px;
  height: 31px;
  border: 1px solid #d1d1d1;
}

/* .inputFieldVerticalLine {
  position: absolute;
  width: 0px;
  height: 31px;
  border: 1px solid #d1d1d1;
} */

.addTaskButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;

  width: 137px;
  height: 51px;

  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  cursor: pointer;
}

.addTaskButton {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}

.placeholderBoardBottom {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1 ;
  gap: 26px;
}

.boardParts {
  width: 380px;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 1rem;
}

.boardTask {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 20px;
  font-weight: 700;
  font-size: 21px;
}

.boardTask > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.boardTask img {
  width: 22px;
  height: 22px;
  color: #2A3647;
}

.boardContainer {
  height: 100%;
  border-radius: 30px;
  padding: 18px 20.5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  /* border: 1px solid black; */
}

.boardContainerTop {
  width: 103px;
  height: 27px;
  background-color: #ff7a00;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.boardContainerHeadline h2 {
  font-weight: 700;
  font-size: 16px;
}

.boardContainerDescripton span {
  font-weight: 400;
  font-size: 16px;
  color: #a8a8a8;
}

.boardContainerProgress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.progress {
  height: 5px;
  background-color: #f4f4f4;
  border-radius: 5px;

  width: 50%;
  border: 1px solid purple;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.progressInNumbers {
  display: flex;
}

.boardContainerUserBubbles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBubble {
  display: flex;
  position: relative;
}

.userBubbleOne {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #0190e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

.userBubbleTwo {
  position: absolute;
  left: 27px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #ee00d6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

.userBubbleConcatenation {
  position: absolute;
  left: 54px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

@media (max-width: 880px) {
  .inputFields {
    width: 200px;
    height: 40px;
  }

  .inputFieldContainer .inputFieldVerticalLine {
    height: 25px;
  }

  .img {
    right: 16px !important;
  }

  .addTaskButton {
    font-size: 16px;
    padding: 15px 8px;
    width: 110px;
    height: 40px;
  }

}

@media (max-width: 880px) {
  .boardParts {
    width: 100%;
  }

}






@media (max-width: 480px) {
  .mainContainer {
    flex-direction: column-reverse;
  }
  .placeholderRight {
    width: 100%;
  }
  .placeholderTop {
    width: 100%;
    padding-left: 25px;
  }
  .placeholderBottom {
    height: calc(100vh - 169px);
  }
  .sideNavBar {
    width: 100%;
  }
  .sideNavBarLogo {
    top: 20px;
    left: 25px;
  }
  .whiteLogo {
    display: none;
  }
  .blackLogo {
    display: flex;
    z-index: 2;
    width: 32px;
    height: 39px;
  }
  .sideNavBar {
    height: 80px;
    width: 100%;
    /* top: calc(100% - 80px); */
    align-items: center;
    flex-direction: initial;
    justify-content: space-around;
  }
  .sideNavBarList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: initial;
    padding: 0px 12px;
    width: 100%;
  }
  .sideNavBarTask {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  /* .sideNavBarTask span {
    color: white;
  } */
  .sideNavBarLegalNotice {
    display: none;
  }
}
