body,
head {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #f6f7f8;
}

li {
  text-decoration: none;
  list-style: none;
  color: #f6f7f8;

  display: flex;
  gap: 18px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.sideNavBar {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sideNavBarLogo {
  position: absolute;
  top: 66px;
  left: 66px;
}

.whiteLogo {
  position: relative;
  width: 100px;
  height: 121px;
}

.blackLogo {
  position: relative;
  display: none;
}
.svg {
  width: 25px;
  height: 25px;
}

.sideNavBarLegalNotice {
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-right: 25px;
}

.sideNavBarLegalNotice img {
  width: 18px;
  height: 18px;
}

.mainRightContainer {
  position: absolute;
  width: calc(100vw - 232px);
  height: 100vh;
  left: 232px;
}

.topNavBar {
  background-color: #ffffff;
  position: relative;
  width: calc(100% - 232px);
  height: 89px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 36px 20px 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNavBarLeftText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.summeryProjectTitle {
  display: none;
}

.topNavBarRightImg {
  display: flex;
  gap: 15px;
}

.mainContentContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 75px;
  padding-top: 40px;
  gap: 25px;
}

.mainContentSummary {
  width: 630px;
  height: 73px;
  display: flex;
  align-items: center;
}

.summeryHeadline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.summeryBorderAndDesription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summeryBorder {
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
  margin: 0px 20px;
}

.summeryDescription {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
}

.mainContentData {
  display: flex;
  align-items: center;
}

.mainContentDataLeft {
  width: 580px;
  height: 580px;
}

.mainContentDataLeftTopCards {
  display: flex;
  gap: 35px;
  padding: 0px 0px 17.5px 0px;
}

.topCards {
  background-color: white;
  width: 170px;
  height: 120px;
  border-radius: 30px;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* topCardNumber */

.cardNumberTopBottom {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.topCardText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #2a3647;

  width: 87px;
}

.mainContentDataLeftMiddleCards {
  padding: 17.5px 0px;
}

.middleCard {
  background-color: white;
  width: 484px;
  height: 114px;
  border-radius: 30px;
  padding: 28px 48px;
  display: flex;
  justify-content: space-around;
}

.middleCardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleCardUrgent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.middleCardUrgentNumber {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.middleCardUrgentText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #2a3647;
}

.middleCardBorder {
  width: 0px;
  height: 102.02px;
  border: 2px solid #d1d1d1;
}

.middleCardDeadline {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.middleCardDeadlineDate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  color: #2a3647;
}

.middleCardDeadlineText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #2a3647;
}
.mainContentDataLeftBottomCards {
  display: flex;
  gap: 35px;
  padding: 17.5px 0px 0px 0px;
}

.bottomCards {
  background-color: white;
  width: 234.5px;
  height: 74px;
  border-radius: 30px;
  padding: 38px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.bottomCardsImg {
  width: 69px;
  height: 69px;
}

.bottomCardsDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*bottomCardsNumber */

.bottomCardText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #2a3647;
}

.mainContentDataRight {
  width: 385px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.mainContenDataRightGreeting {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  color: #2a3647;
}

.mainContenDataRightName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #29abe2;
}

@media ((max-width: 720px) and (min-width: 480px)) {
  .sideNavBar {
    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 0px;
  }
  .sideNavBarLogo {
    top: 20px;
    left: 25px;
  }
  .whiteLogo {
    position: relative;
    display: none;
  }
  .blackLogo {
    display: flex;
    z-index: 2;
    width: 32px;
    height: 39px;
  }
  .sideNavBarList {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
  }
  .sideNavBarList li {
    flex-direction: column;
    gap: 0px;
  }
  .sideNavBarLegalNotice {
    display: none;
  }
  .topNavBar {
    width: calc(100vw - 152px);
    height: 39px;
  }
  .topNavBarLeftText {
    display: none;
  }
  .summeryProjectTitle {
    display: block;
  }
  .topNavBarRightImg {
    width: 100%;
    justify-content: flex-end;
  }
  .topNavBarRightImgQuestionmark {
    display: none;
  }
  .topNavBarRightImgPicture {
  }
  .mainContainer {
    flex-direction: column;
  }
  .mainContentContainer {
    width: 100vw;
    height: 100vh;
    align-items: normal;
    padding: 0px;
  }
  .mainContentSummary {
    /* width: 480px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .summeryBorderAndDesription {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 25px;
  }
  .summeryBorder {
    width: 90px;
    height: 0px;
    border: 3px solid #29abe2;
    margin: 0px;
  }
  .mainRightContainer {
    left: 0px;
    width: 100vw;
  }
  .mainContentDataRight {
    display: none;
  }
  .mainContentDataLeft {
    width: 360px;
    height: 360px;
    position: relative;
    top: 75px;
  }
  .topCards {
    width: 110px;
    height: 60px;
  }
  .cardNumberTopBottom {
    font-size: 47px;
  }
  .cardTextTopBottom {
    width: 54px;
    font-size: 14px;
  }
  .middleCard {
    width: 264px;
    height: 54px;
  }
  .middleCardDeadlineDate {
    font-size: 16px;
  }
  .middleCardDeadlineText {
    font-size: 14px;
  }
  .bottomCards {
    width: 139.5px;
    height: 34px;
  }
  .bottomCardsImg {
    width: 40px;
    height: 40px;
  }
}

@media ((max-width: 480px) and (min-width: 1px)) {
  .mainContainer {
    display: none;
  }
}
