<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/contacts.css">
    <link rel="stylesheet" href="../styles/fonts.css">
</head>

<body id='body' onload="init()">

    <div class="contactsMainContainer">

        <div class="contactsBar">
            <div id="contactList" class="contactList">

                <!--            <div>
                    <div class="letter">
                        <div>A</div>
                    </div>
                    <div class="contactsHline"></div>
                </div>
 -->
                <div id="contactContainer" class="contactContainer">
                    <!--                <div class="contact">
                        <div>
                            <div class="contactIcon">
                                <span>AM</span>
                            </div>
                        </div>
                        <div>
                            <span class="contactName">Anton Mayer</span>
                            <a class="contactEmail" href="antom@gmail.com">antom@gmail.com</a> 
                        </div>
                    </div>
    -->
                </div>
            </div>
        </div>

        <div class="contactsContainer">
            <div class="contactsContentHeader">
                <div>
                    <h1>Contacts</h1>
                </div>
                <div class="contactsVline">
                </div>
                <div>
                    Better with a team
                </div>
            </div>

            <div class="contactsContent">
                <div class="contactDetails" id="contactDetails">
                    <!--                     <div>
                        <div>
                            <div class="contactIconBig">
                                <span>AM</span>
                            </div>
                        </div>
                        <div class="contactDetailsName">
                            <div class="name">
                                <div>
                                    <span>Anton</span>
                                    <span>Mayer</span>
                                </div>
                            </div>
                            <div class="addTask">
                                <img src="../img/plus.svg"><span>Add Task</span>
                            </div>
                        </div>
                    </div>

                    <div class="contactInformation">
                        <div>
                            <div class="contactInformationHeader">
                                <div>
                                    <span>Contact Information</span>
                                </div>
                                <div calss="editContact">
                                    <img src="../img/edit.svg">
                                    <span>Edit Contact</span>
                                </div>
                            </div>
    
                            <div class="contactInformationMain">
                                <div>
                                    <span>Email</span>
                                    <a href="antom@gmail.com">antom@gmail.com</a>
                                </div>
                                <div>
                                    <span>Phone</span>
                                    <a href="tel:+491111111111">+49 1111 111 11 1</a>
                                </div>
                            </div>
                        </div>


                        <div class="deleteContact">
                            <div onclick="deleteContact()">
                                <span>Delete contact</span>
                                <img src="../img/delete.svg">
                            </div>
                        </div>
                    </div>
 -->
                </div>
            </div>
        </div>

        <button class="newContactButton" onclick="newContact()">
            <span>New contact</span>
            <img src="../img/newContact.svg">
        </button>
    </div>


    <!-- ======================== AddContacts Overlay ======================== -->
    <div id="addContactBackground" class="addContactBackground" onclick="closePopup()">

        <div class="addContactContainer" onclick="doNotClose(event)">
            <div class="addContactLeftSide">
                <img src="../img/logo.svg">
                <h1>Add contact</h1>
                <span>Task are better with a Team!</span>
                <div></div>
            </div>

            <div class="addContactRightSide">
                <div class="contactImg">
                    <div>
                        <img src="../img/addUserIcon.svg">
                    </div>
                </div>
                <div class="contactInfo">
                    <div>
                        <div onclick="canclePopup()">
                            <img src="../img/close.svg">
                        </div>
                    </div>
                    <div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="contactName" class="inputFields" type="text" placeholder="Name" required />
                                <img src="../img/userIcon.svg" class="img" />
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="contactSurname" class="inputFields" type="text" placeholder="Surname"
                                    required />
                                <img src="../img/userIcon.svg" class="img" />
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="contactEmail" class="inputFields" type="email" placeholder="Email" />
                                <img src="../img/letter.svg" class="img" />
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="contactPhone" class="inputFields" type="number" placeholder="Phone"
                                    required />
                                <img src="../img/phone.svg" class="img" />
                            </div>
                        </div>
                        <div class="buttons">

                            <button class="cancleButton" onclick="canclePopup()">
                                <span>Cancle</span>
                                <img src="../img/cancel.svg">
                            </button>
                            <button class="createContact" onclick="createContact()">
                                <span>Create contact</span>
                                <img src="../img/tick.svg">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================== Edit Contacts Overlay ======================== -->
    <div id="editContactBackground" class="addContactBackground" onclick="closePopup()">

        <div class="addContactContainer" onclick="doNotClose(event)">

            <div class="addContactLeftSide">
                <img src="../img/logo.svg">
                <h1>Edit contact</h1>
                <span>Task are better with a Team!</span>
                <div></div>
            </div>

            <div class="addContactRightSide">
                <div id="contactImg" class="contactImg">
                    <!--                <div>
                        <img src="../img/addUserIcon.svg">
                    </div>
 -->
                </div>
                <div class="contactInfo">
                    <div>
                        <div onclick="canclePopup()">
                            <img src="../img/close.svg">
                        </div>
                    </div>
                    <div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="editContactName" class="inputFields" type="text" placeholder="Name"
                                    required />
                                <img src="../img/userIcon.svg" class="img" />
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="editContactSurname" class="inputFields" type="text" placeholder="Surname"
                                    required />
                                <img src="../img/userIcon.svg" class="img" />
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="editContactEmail" class="inputFields" type="email" placeholder="Email" />
                                <img src="../img/letter.svg" class="img" />
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="inputFieldContainer">
                                <input id="editContactPhone" class="inputFields" type="number" placeholder="Phone"
                                    required />
                                <img src="../img/phone.svg" class="img" />
                            </div>
                        </div>
                        <div class="buttons editButton" id="saveChangesButton">
                            <!--                            <button class="createContact" onclick="saveChanges()">
                                    <span>Save</span>
                                </button>
 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ================================== SNACKBAR CONTACT CREATED ======================================= -->
    <div id="contactCreated">Contact succesfully created</div>


    <!-- ================================== SNACKBAR CHANGES SAVED ======================================= -->
    <div id="contactChangesSaved">Changes saved</div>














    <!-- ================================== SCRIPT ======================================= -->
    <script>

        let contacts = [];

        let name = document.getElementById('contactName');
        let surname = document.getElementById('contactSurname');
        let email = document.getElementById('contactEmail');
        let phone = document.getElementById('contactPhone');

        let editName = document.getElementById('editContactName');
        let editSurname = document.getElementById('editContactSurname');
        let editEmail = document.getElementById('editContactEmail');
        let editPhone = document.getElementById('editContactPhone');

        let newContactPopUp = document.getElementById('addContactBackground');
        let editContactPopUp = document.getElementById('editContactBackground');

        let bgColor;

        let firstLetters;

        async function init() {
            await loadContacts();
            renderContacts();
        }

        function renderContacts() {
            let contactContainer = document.getElementById('contactContainer');
            contactContainer.innerHTML = '';

            contactsSorted = contacts.sort((a, b) => {
                if (a.name < b.name) {
                    return -1;
                }
            });

            for (let i = 0; i < contactsSorted.length; i++) {
                let contactListName = contacts[i]['name'];
                let contactListSurname = contacts[i]['surname'];
                let contactEmail = contacts[i]['email'];
                let contactBgColor = contacts[i]['background']

                randomBackground();

                getFirstLetter(i);

                contactContainer.innerHTML += `
                    <div id="contactID${i}" class="contact" onclick="openContactInfo(${i})">
                        <div>
                            <div style="background-color:${contactBgColor};"class="contactIcon">
                                <span>${firstLetters}</span>
                            </div>
                        </div>
                        <div>
                            <div class="contactName">
                                <span>${contactListName}</span>
                                <span>${contactListSurname}</span>
                            </div>
                            <a class="contactEmail" href="${contactEmail}">${contactEmail}</a> 
                        </div>
                    </div>`;
            }
        }

        function getFirstLetter(i) {
            let x = contacts[i]['name'];
            x = x.split(' ').map(word => word.charAt(0)).join('');
            let y = contacts[i]['surname'];
            y = y.split(' ').map(word => word.charAt(0)).join('');

            firstLetters = x + y;
        }

        function newContact() {
            newContactPopUp.style.display = 'flex';
        }


        function closePopup() {
            newContactPopUp.style.display = 'none';
            editContactPopUp.style.display = 'none';
            name.value = '';
            surname.value = '';
            email.value = '';
            phone.value = '';
        }

        function canclePopup() {
            newContactPopUp.style.display = 'none';
            editContactPopUp.style.display = 'none';
            name.value = '';
            surname.value = '';
            email.value = '';
            phone.value = '';
        }

        function doNotClose(event) {
            event.stopPropagation();
        }

        function createContact() {

            if (name.vlaue == '' || email.value == '') {
                alert('input required');
            } else {
                randomBackground();
                let newContact = { name: name.value, surname: surname.value, email: email.value, phone: phone.value, background: bgColor };
                contacts.push(newContact);
                saveContacts();
                name.value = '';
                surname.value = '';
                email.value = '';
                phone.value = '';
                renderContacts();
                showContactCreatedPupup();
            }
        }

        function randomBackground() {
            let x = Math.floor(Math.random() * 256)
            let y = Math.floor(Math.random() * 256)
            let z = Math.floor(Math.random() * 256)
            bgColor = `rgb(${x}, ${y}, ${z})`
        }


        async function saveContacts() {
            let contactAsString = JSON.stringify(contacts);
            await localStorage.setItem('contacts', contactAsString);
        }

        async function loadContacts() {
            let contactAsString = localStorage.getItem('contacts');
            contacts = await JSON.parse(contactAsString) || [];
        }

        function openContactInfo(i) {
            let contactInformation = document.getElementById('contactDetails');
            contactInformation.innerHTML = '';

            let contactInfotName = contacts[i]['name'];
            let contactInfoSurname = contacts[i]['surname'];
            let contactInfoEmail = contacts[i]['email'];
            let contactInfoPhone = contacts[i]['phone'];
            let contactInfoBgColor = contacts[i]['background'];

            getFirstLetter(i);

            contactInformation.innerHTML += `
                    <div>
                        <div>
                            <div id="contactIconBig${i}" class="contactIconBig">
                                <span>${firstLetters}</span>
                            </div>
                        </div>
                        <div class="contactDetailsName">
                            <div class="name">
                                <div>
                                    <span>${contactInfotName}</span>
                                    <span>${contactInfoSurname}</span>
                                </div>
                            </div>
                            <div class="addTask">
                                <img src="../img/plus.svg"><span>Add Task</span>
                            </div>
                        </div>
                    </div>

                    <div class="contactInformation">
                        <div>
                            <div class="contactInformationHeader">
                                <div>
                                    <span>Contact Information</span>
                                </div>
                                <div class="editContact" onclick="editContact(${i})">
                                    <img src="../img/edit.svg">
                                    <span>Edit Contact</span>
                                </div>
                            </div>
    
                            <div class="contactInformationMain">
                                <div>
                                    <span>Email</span>
                                    <a href="${contactInfoEmail}">${contactInfoEmail}</a>
                                </div>
                                <div>
                                    <span>Phone</span>
                                    <a href="tel:${contactInfoPhone}">${contactInfoPhone}</a>
                                </div>
                            </div>
                        </div>


                        <div class="deleteContact">
                            <div onclick="deleteContact(${i})">
                                <span>Delete contact</span>
                                <img src="../img/delete.svg">
                            </div>
                        </div>
                    </div>
            `;

            document.getElementById('contactIconBig' + i).style.backgroundColor = contactInfoBgColor;
        }

        function editContact(i) {
            editContactPopUp.style.display = 'flex';

            editName.value = contacts[i]['name'];
            editSurname.value = contacts[i]['surname'];
            editEmail.value = contacts[i]['email'];
            editPhone.value = contacts[i]['phone'];
            let contactInfoBgColor = contacts[i]['background'];


            let saveChangesButton = document.getElementById('saveChangesButton');

            saveChangesButton.innerHTML = `
                <button class="createContact" onclick="saveChanges(${i})">
                    <span>Save</span>
                </button>
        `;

            getFirstLetter(i);

            document.getElementById('contactImg').innerHTML = `
            <div id="contactImgBg${i}" class="contactImgBg">
                <span>${firstLetters}</span>
            </div>
        `;

            document.getElementById('contactImgBg' + i).style.backgroundColor = contactInfoBgColor;
        }

        function saveChanges(i) {
            contacts[i]['name'] = editName.value;
            contacts[i]['surname'] = editSurname.value;
            contacts[i]['emailpho'] = editEmail.value;
            contacts[i]['phone'] = editPhone.value;

            saveContacts();
            renderContacts();
            editContactPopUp.style.display = 'none';
            contactChangesSavedPupup();
        }


        function deleteContact(i) {
            contacts.splice(i, 1);
            saveContacts();
            loadContacts();
            renderContacts();
        }


        /* ================================== SNACKBAR =======================================*/
        function showContactCreatedPupup() {
            // Get the snackbar DIV
            var x = document.getElementById("contactCreated");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }

        function contactChangesSavedPupup() {
            // Get the snackbar DIV
            var x = document.getElementById("contactChangesSaved");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }

    </script>

</body>

</html>