<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/contacts.css">
</head>
<body>

    <div class="contactsMainContainer">
        
        <div class="contactsBar">
            <div>
                <div>
                    <div class="letter">
                        <span>A</span>
                    </div>
                    <div class="contactsHline"></div>
                </div>
                <div class="contactContainer">
                    <div class="contact">
                        <div>
                            <div class="contactIcon">
                                <span>AM</span>
                            </div>
                        </div>
                        <div>
                            <span class="contactName">Anton Mayer</span>
                            <a class="contactEmail" href="antom@gmail.com">antom@gmail.com</a> 
                        </div>
                    </div>

                    <div class="contact">
                        <div>
                            <div class="contactIcon">
                                <span>AM</span>
                            </div>
                        </div>
                        <div>
                            <span class="contactName">Anton Mayer</span>
                            <a class="contactEmail" href="antom@gmail.com">antom@gmail.com</a> 
                        </div>
                    </div>

                    <div class="contact">
                        <div>
                            <div class="contactIcon">
                                <span>AM</span>
                            </div>
                        </div>
                        <div>
                            <span class="contactName">Anton Mayer</span>
                            <a class="contactEmail" href="antom@gmail.com">antom@gmail.com</a> 
                        </div>
                    </div>

                    <div class="contact">
                        <div>
                            <div class="contactIcon">
                                <span>AM</span>
                            </div>
                        </div>
                        <div>
                            <span class="contactName">Anton Mayer</span>
                            <a class="contactEmail" href="antom@gmail.com">antom@gmail.com</a> 
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="contactsContentHeader">
            <div>
                <div>
                    <h1>Contacts</h1>
                </div>
                <div class="contactsVline">
                </div>
                <div>
                    Better with a team
                </div>
            </div>

            <div class="contactsContent">

            </div>
        </div>

        <div class="newContactButton">
            <span>New contact</span>
            <img src="../img/newContact.svg">
        </div>

    </div>



</body>
</html>