<!-- Desktop:SidebarLeft Mobil:SidebarBottom -->
<div class="sideNavBar">
    <div class="sideNavBarList">
        <div>
            <a href="www.google.com" class="sideNavBarTask"><img src="/img/summary.svg"
                    class="svg"><span>Summary</span></a>
        </div>
        <div>
            <a href="www.google.com" class="sideNavBarTask"><img src="/img/board.svg" class="svg"><span>Board</span></a>
        </div>
        <div>
            <a href="www.google.com" class="sideNavBarTask"><img src="/img/addtask.svg" class="svg"><span>Add
                    Task</span></a>
        </div>
        <div>
            <a class="sideNavBarTask"><img src="/img/contacts.svg"
                    class="svg"><span>Contacts</span></a>
        </div>
        <div class="sideNavBarLegalNotice">
            <a href="www.google.com" class="sideNavBarTask"><img src="/img/legalnotice.svg" class="svg">Legal
                Notice</a>
        </div>
    </div>
</div>