<!-- Summary -->
<div class="summaryMainContainer">
    <div class="summaryLeftContainer">

        <div class="summaryLeftHeadline">
            <div class="summaryHeadline">Summary</div>
            <div class="summaryLineDescription">
                <div class="summaryLine"></div>
                <div class="summaryDescription">Everything in a Nuthsell</div>
            </div>
        </div>

        <div class="summaryLeftCards">
            <div class="allTopCards">
                <div class="topCardLeft topCard"></div>
                <div class="topCardmiddle topCard"></div>
                <div class="topCardRight topCard"></div>
            </div>
            <div class="allMiddleCards">
                <div class="middleCard"></div>
            </div>
            <div class="allBottomCards">
                <div class="bottomCardLeft bottomCard"></div>
                <div class="bottomCardRight bottomCard"></div>
            </div>
        </div>

    </div>
    <div class="summaryRightContainer"></div>
</div>