<div class="placeholderTop">
    <div class="topNavBarLeftText">Kanban Project Management Tool</div>
    <div class="topNavBarRightImg">
        <a onclick="displayMainHelpPage()">
            <img src="img/questionmark.svg" class="topNavBarRightImgQuestionmark">
        </a>
        <img src="img/picture.svg" id="topNavBarRightImgPicture" class="topNavBarRightImgPicture"
            onclick="showLogoutButton()">
        <div id="logoutButton" class="logoutButton" onclick="backToLoginScreen()">
            <span>Logout</span>
        </div>
    </div>
</div>