@media(max-width:1400px) {
    .main-container {
        margin-right: 10px;
    }
}

@media(max-width:1200px) {
    .right-container {
        margin-top: -20px;
    }

    .left-container {
        height: auto;
    }

    .title-container {
        width: 450px;
        display: flex;
        justify-content: flex-start;
    }

    .main-container {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle-gap {
        display: none;
    }

    .content-container {
        flex-direction: column;
        gap: 0;
    }

    .right-container {
        align-items: center;
        height: unset;
        margin-bottom: 75px;
    }

    .submit-and-clear {
        position: unset;
        width: 100%;

    }

    .select-wrapper {
        z-index: 3;
    }
}

@media (max-width: 1000px) {
    .mainContainer {
        flex-direction: column-reverse;
    }

    .placeholderRight {
        width: 100%;
    }

    .placeholderTop {
        padding: 0px 25px;
        height: 80px;


    }

    .topNavBarLeftText {
        display: none;
    }

    .topNavBarRightImgQuestionmark {
        display: none;
    }

    .topNavBarRightImgPicture {
        display: none;
    }


    .placeholderBottom {
        height: calc(100vh - 169px);
    }

    .sideNavBar {
        width: 100%;
    }

    .sideNavBarLogo {
        top: 20px;
        left: 25px;
    }

    .whiteLogo {
        display: none;
    }

    .blackLogo {
        display: flex;
        z-index: 2;
        width: 32px;
        height: 39px;
    }

    .sideNavBar {
        height: 80px;
        width: 100%;
        top: calc(100% - 80px);
        align-items: center;
        flex-direction: initial;
        justify-content: space-around;
    }

    .sideNavBarList {
        display: flex;
        justify-content: space-evenly;
        flex-direction: initial;
        padding: 0px 12px;
        width: 100%;
    }

    .sideNavBarTask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sideNavBarTask span {
        color: white;
    }

    .sideNavBarLegalNotice {
        display: none;
    }

    .main-container {
        height: 91vh;
    }

    .right-container {
        margin-top: 30px;
    }

    .left-container {
        height: auto;
    }

    .add-task-mobile {
        background-color: #f5f5f5;
        border: none;
        z-index: 11;
        display: block !important;
        position: fixed;
        top: 18px;
        right: 27px;
        cursor: pointer;
    }

    h1 {
        margin-top: 25px;
    }

    .title-container {
        flex-direction: column;
    }

    .main-container {
        margin-top: 130px;
        margin-left: 0;
    }

    .headline-mobile {
        display: block !important;
        font-size: 16px;
    }

    h1 {
        font-size: 47px;
    }

    label {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    ::placeholder {
        font-size: 16px;
    }

    textarea {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .prio-btn {
        font-size: 16px;
    }

    .submit-and-clear {
        display: none;
    }

    .left-container {
        margin-bottom: -50px;
    }
}

@media(max-width: 560px) {
    .main-container {
        margin-right: 0;
    }

    .selection-container {
        width: 91%;
    }

    .title-container {
        width: unset;
    }

    .left-container {
        width: unset;
    }

    .right-container {
        width: unset;
    }

    h1 {
        font-size: 30px;
    }
}