/* ================================ BOARD MAIN ================================ */
.placeholderBoard {
  height: calc(100vh - 89px);
  padding: 2rem;
  padding: 1rem 1rem 1rem 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.placeholderBoardTop {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .placeholderBoardTopLeft {

} */

.placeholderBoardTopRight {
  display: flex;
  align-items: flex;
  gap: 35px;
}

.placeholderBoardTopRight > .inputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .findTaskInputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  width: 251px;
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
} */

.inputFields {
  box-sizing: border-box;
  /* gap: 10px; */
  padding: 10px;
  width: 251px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

::placeholder {
  width: 100px;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #d1d1d1;
}

.inputContainer {
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer img {
  width: 20px;
  height: 18px;
}

.inputFieldContainer {
  position: relative;
}

.inputFieldContainer img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.img {
  right: 22px !important;
}

.inputFieldContainer .inputFieldVerticalLine {
  position: absolute;
  top: 20%;
  left: 75%;
  width: 0px;
  height: 31px;
  border: 1px solid #d1d1d1;
}

/* .inputFieldVerticalLine {
    position: absolute;
    width: 0px;
    height: 31px;
    border: 1px solid #d1d1d1;
  } */

.addTaskButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;

  width: 137px;
  height: 51px;

  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  cursor: pointer;
}

.addTaskButton {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}

.placeholderBoardBottom {
  height: calc(100vh - 235px);
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: auto;
}

/* ================================ SCROLLBAR ====================================== */
.placeholderBoardBottom::-webkit-scrollbar {
  width: 10px;
  scrollbar-gutter: stable;
}

.placeholderBoardBottom::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border: 2px solid white;
  border-radius: 6px;
}

.placeholderBoardBottom::-webkit-scrollbar-button {
  color: #A8A8A8;
}

.placeholderBoardBottom::-webkit-scrollbar-button {
  display: block;
  background-repeat: no-repeat;   
  background-size: 50%;
  background-position: center;
}

.placeholderBoardBottom::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url(../img/upArrow.svg);
  background-size: 10px 4px;  
}

.placeholderBoardBottom::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

.placeholderBoardBottom::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

.placeholderBoardBottom::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url(../img/downArrow.svg);   
  background-size: 10px 4px;  
}

/* ================================================================================== */


.boardParts {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.boardTask {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 20px;
  font-weight: 700;
  font-size: 21px;
}

.boardTask > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.boardTask img {
  width: 22px;
  height: 22px;
  color: #2a3647;
}

.boardContainer {
  /* height: 100%; */
  border-radius: 15px;
  padding: 18px 20.5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  /* border: 1px solid black; */
  margin-bottom: 1em;
}

.boardContainerTop {
  width: 100%;
/*   width: 103px;
 */  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardContainerTop > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: #ff7a00;
  border-radius: 8px;
}

.boardContainerTop > div > div {
  color: white;
}

.boardContainerTop > img {
  height: 15px;
  width: auto;
  cursor: pointer;
}

.boardContainerTop > img:hover {
  scale: 1.1;
}

.boardContainerHeadline h2 {
  font-weight: 700;
  font-size: 16px;
}

.boardContainerDescripton span {
  font-weight: 400;
  font-size: 16px;
  color: #a8a8a8;
}

.boardContainerProgress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.progress {
  height: 5px;
  background-color: #f4f4f4;
  border-radius: 5px;

  width: 50%;
  border: 1px solid purple;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  width: 50%;
  transition: width 0.5s ease-in-out;
}

.progressInNumbers {
  display: flex;
}

.boardContainerUserBubbles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBubble {
  display: flex;
  position: relative;
}

.userBubbleOne {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #0190e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

.userBubbleTwo {
  position: absolute;
  left: 27px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #ee00d6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

.userBubbleConcatenation {
  position: absolute;
  left: 54px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

/* ================================ OPEN TASK ================================ */
.openTaskBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.2);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.openTaskContainer {
  position: relative;
  width: 500px;
  height: 750px;
  border-radius: 30px;
}

.openTask {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  gap: 25px;
  border-radius: 30px;
}

.openTaskTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.openTaskTop > div:first-of-type {
  width: 142px;
  height: 40px;
  border-radius: 8px;
  padding: 4px 37px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openTaskTop > div:first-of-type > span {
  font-size: 27px;
  color: white;
}

.selectCategory {
  width: 130px;
  height: inherit;
  padding: 5px;
  font-size: 22px;
  background: transparent;
  border: none;
  color: white;
}

.openTaskTop > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openTaskTop img {
  cursor: pointer;
}

.openTaskTop img:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.openTaskHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.openTaskHeader > h1 {
  font-size: 61px;
  color: #2a3647;
}

.openTaskHeader input {
  border: none;
  border-bottom: 1px solid #2a3647;
  padding-left: 0;
  color: #2a3647;
  width: 100%;
}

.openTaskHeader input:first-of-type {
  font-size: 40px;
  font-weight: bold;
}

.openTaskMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.openTaskMain > div {
  margin-bottom: 1rem;
}

.openTaskMain > div > div:first-of-type {
  font-weight: bold;
  font-size: 21px;
  width: 160px;
}

.openTaskDate,
.openTaskPriority {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openTaskDate > input {
  border: none;
  border-bottom: 1px solid #2a3647;
}

.openTaskPriorityEdit {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.prioButton2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  border: 1px solid #D1D1D1 !important;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  transition: all 100ms ease-in-out;
}

.openTaskAssigned {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.openTaskAssigned > div:first-of-type {
  margin-bottom: 1rem;
}

.assignedToContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: auto;
}

/* ================================ SCROLLBAR ====================================== */
.assignedToContainer::-webkit-scrollbar {
  width: 10px;
  scrollbar-gutter: stable;
}

/* .contactList::-webkit-scrollbar-track {
  background-color: white;
} */

.assignedToContainer::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border: 2px solid white;
  border-radius: 6px;
}

.assignedToContainer::-webkit-scrollbar-button {
  color: #A8A8A8;
}

.assignedToContainer::-webkit-scrollbar-button {
  display: block;
  background-repeat: no-repeat;   
  background-size: 50%;
  background-position: center;
}

.assignedToContainer::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url(../img/upArrow.svg);
  background-size: 10px 4px;  
}

.assignedToContainer::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

.assignedToContainer::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

.assignedToContainer::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url(../img/downArrow.svg);   
  background-size: 10px 4px;  
}
/* =========================================================================== */

.openTaskAssignedPerson {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  }

.openTaskAssignedPerson > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
/*   background-color: #9327ff; */  
margin-right: 1rem;
}

.openTaskAssignedPerson span {
  color: white;
}

.openTaskButtonContainer {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openTaskEditButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  border-radius: 0 10px 10px 0;
  background-color: #2a3647;
  border: 1px solid #2a3647;
  cursor: pointer;
}

.openTaskEditButton:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.deleteTaskButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  border-radius: 10px 0 0 10px;
  background-color: white;
  border: 1px solid #2a3647;
  cursor: pointer;
}

.deleteTaskButton:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.cancleTaskEditButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 45px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #2a3647;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem ;
}


.saveChangesTask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 45px;
  border-radius: 10px;
  background-color: #2a3647;
  border: 1px solid #2a3647;
  font-weight: bold;
  color: white;
  cursor: pointer;
}


.priorityImg {
  width: 17px;
  height: 12px;
}

/* ================================ RESPONSIVENESS ================================ */

@media (max-width: 880px) {
  .inputFields {
    width: 200px;
    height: 40px;
  }

  .inputFieldContainer .inputFieldVerticalLine {
    height: 25px;
  }

  .img {
    right: 16px !important;
  }

  .addTaskButton {
    font-size: 16px;
    padding: 15px 8px;
    width: 110px;
    height: 40px;
  }
}

@media (max-width: 880px) {
  .boardParts {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .openTaskContainer {
    width: 80%;
  }
  .placeholderBoard {
    height: calc(100vh - 163px);
    padding-left: 1rem;
    padding-right: 0;
  }
  .placeholderBoardTopLeft > h1 {
    margin-right: 1rem;
  }
  .placeholderBoardTop {
    padding-right: 0.5rem;
  }
  .placeholderBoardTopRight .inputFields {
    height: 45px;
  }

  .openTaskDateEdit {
    flex-direction: column;
    align-items: flex-start;
  }

  .prioButtonsEdit {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .openTaskContainer {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .openTask {
    border-radius: 0;
    padding: 20px;

  }
  .placeholderBoardTop {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .placeholderBoardTop .inputContainer {
    justify-content: flex-start;
  }

}
