* {
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0  ;
}

.contactsMainContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.contactsBar {
   width: 453px;
   height: 100vh;
   box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08); 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 1.5rem;
}

.contactList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
}

.contactsBar > div > div:first-of-type {
    width: 100%;
}

.letter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.letter > div {
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    height: 42px;
    width: 42px;
}

.letter span {
        font-size: 21px;

}

.contactsHline {
    width: 100%;
    height: 1px;
    border-radius: 3px;
    background-color: #D1D1D1;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    overflow: auto;
}

.contactContainer::-webkit-scrollbar {
    width: 10px;
    scrollbar-gutter: stable;
}

.contactContainer::-webkit-scrollbar-track {
    background-color: white;
}

.contactContainer::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border: 2px solid white;
    border-radius: 6px;
}

.contactContainer::-webkit-scrollbar-button {
    color: #A8A8A8;
}

.contactContainer::-webkit-scrollbar-button {
    display: block;
    background-repeat: no-repeat;   
    background-size: 50%;
    background-position: center;
}

.contactContainer::-webkit-scrollbar-button:vertical:start:increment {
    background-image: url(../img/upArrow.svg);
    background-size: 10px 4px;  
}

.contactContainer::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

.contactContainer::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.contactContainer::-webkit-scrollbar-button:vertical:end:decrement {
    background-image: url(../img/downArrow.svg);   
    background-size: 10px 4px;  
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.contact > div:first-of-type {
    width: 25%;
}

.contact > div:last-of-type {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contactIcon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF7A00;
}

.contactIcon > span {
    font-size: 14px;
    color: white;
}

.contact > div:last-of-type > span:first-of-type {
    margin-bottom: 0.5rem;
}

.contactEmail {
    color: #007CEE;
    text-decoration: none;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;;
}

.contactsContentHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    height: 300px;
}

.contactsContentHeader h1 {
    font-size: 61px;
    font-weight: bold;
    columns: rgba(0, 0, 0, 1);
}

.contactsVline {
    background-color: rgba(41, 171, 226, 1);
    height: 59px;
    width: 3px;
}

.contactsContentHeader > div:last-of-type {
    font-size: 27px;
    color: rgba(42, 54, 71, 1);
}

.contactsContent {
    width: 100%;
    height: 100%;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.contactDetails > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.contactDetails > div:first-of-type > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: 120px;

}

.contactIconBig {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF7A00;
    border: 2px solid white;
}

.contactIconBig  > span {
    font-size: 47px;
    color: white;
}

.contactDetailsName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.name > span{
    font-size: 47px;
}

.addTask {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.addTask > span {
    color: #29ABE2;
    font-size: 16px;
    margin-left: 10px;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.contactInformation > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.contactInformationHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.contactInformationHeader > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInformationHeader > div:first-of-type > span {
    font-size: 21px;
}

.editContact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.editContact img, 
.editContact span {
    color: #2A3647;
}

.contactInformationMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px
}

.contactInformationMain > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
 }

 .contactInformationMain > div > span:first-of-type {
    font-weight: bold;
    font-size: 16px;
 }

 .contactInformationMain > div > a {
    text-decoration: none;
 }

 .contactInformationMain > div:last-of-type > a {
    color: black;
 }

 .deleteContact > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: auto;
    gap: 10px;
 }

 .deleteContact > div:hover {
    text-decoration: underline;
    text-decoration-color: red;
 }


 .deleteContact span {
    color: red;
 }

 .deleteContact img {
    width: 20px;
    height: auto;
    color: red;
 }



















/* ================= New Contact Button ============== */
.newContactButton {
    position: absolute;
    right: 52px;
    bottom: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 53px;
    border-radius: 10px;
    padding: 18px, 10px, 18px, 10px;
    gap: 10px;
    background-color: rgba(42, 54, 71, 1);
    cursor: pointer;
}

.newContactButton > span {
    color: white;
    font-size: 21px;
}

/* ================= Add Contact Popup ============== */
.addContactBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.addContactContainer {
    height: 500px;
    width: 1000px;
    display: flex;
    border-radius: 30px;
}

.addContactLeftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    gap: 15px;
    background-color: #2A3647;
    padding: 46px;
    color: white;
    border-radius: 30px 0 0 30px;
}

.addContactLeftSide > h1 {
    font-size: 61px;
    margin: 0px;
}

.addContactLeftSide > span {
    font-size: 27px;
}

.addContactLeftSide > div:last-of-type{
    height: 3px;
    width: 100px;
    background-color: #29ABE2;
}

.addContactRightSide {
    border-radius: 0 30px 30px 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contactImg {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactImg > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #D1D1D1;
}

.contactImg img {
    border-radius: 50%;
}

.contactInfo {
    width: 66.66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem 1.5rem;
}

.contactInfo > div:first-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.contactInfo > div:first-of-type > div {
    cursor: pointer;
}



.contactInfo > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 100%;
}

/* .inputContainer {
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
} */

.inputFieldContainer {
    position: relative;
}

.inputFields {
    box-sizing: border-box;
    padding: 13px 21px;
    gap: 10px;
    width: 300px;
    height: 51px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 21px;
}
  
::placeholder {
    width: 100%;
    height: 25px;
    font-size: 21px;
    line-height: 120%;
    color: #d1d1d1;
}

/* .inputContainer img {
    width: 20px;
    height: 18px;
}*/
  
.img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 18px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.createContact {
    width: 200px;
    height: 51px;
    background: #2a3647;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    cursor: pointer;
}

.cancleButton {
    background-color: white;
    width: 145px;
    height: 51px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2a3647;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.d-none {
    display: none;
}