* {
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0  ;
}

.contactsMainContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.contactsBar {
   width: 453px;
   height: 100vh;
   box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08); 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 1.5rem;
}

.contactsBar > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contactsBar > div > div:first-of-type {
    width: 100%;
}

.letter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.letter > div {
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    height: 42px;
    width: 42px;
}

.letter span {
        font-size: 21px;

}

.contactsHline {
    width: 100%;
    height: 1px;
    border-radius: 3px;
    background-color: #D1D1D1;
    margin-bottom: 1.5rem;
}

.contactIcon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF7A00;
}

.contactIcon > span {
    font-size: 14px;
    color: white;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact > div:first-of-type {
    width: 25%;
}

.contact > div:last-of-type {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact > div:last-of-type > span:first-of-type {
    margin-bottom: 0.5rem;
}

.contactEmail {
    color: #007CEE;
    text-decoration: none;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;;
}

.contactsContentHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    height: 300px;
}

.contactsContentHeader h1 {
    font-size: 61px;
    font-weight: bold;
    columns: rgba(0, 0, 0, 1);
}

.contactsVline {
    background-color: rgba(41, 171, 226, 1);
    height: 59px;
    width: 3px;
}

.contactsContentHeader > div:last-of-type {
    font-size: 27px;
    color: rgba(42, 54, 71, 1);
}

.contactsContent {
    width: 100%;
    height: 100%;
}

.contactDetails > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.contactDetails > div:first-of-type > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: 120px;

}

.contactIconBig {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF7A00;
    border: 2px solid white;
}

.contactIconBig  > span {
    font-size: 47px;
    color: white;
}

.contactDetailsName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.name > span{
    font-size: 47px;
}

.addTask {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.addTask > span {
    color: #29ABE2;
    font-size: 16px;
    margin-left: 10px;
}

.newContactButton {
    position: absolute;
    right: 52px;
    bottom: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 53px;
    border-radius: 10px;
    padding: 18px, 10px, 18px, 10px;
    gap: 10px;
    background-color: rgba(42, 54, 71, 1);
    cursor: pointer;
}

.newContactButton > span {
    color: white;
}

.addContactContainer {
    height: 600px;
    width: 1200px;
    display: flex;
    border-radius: 30px;
}


.addContactLeftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    background-color: #2A3647;
    padding: 46px;
    color: white;
}

.addContactLeftSide > div:last-of-type{
    height: 3px;
    width: 100px;
    background-color: #29ABE2;
}




