* {
    box-sizing: border-box;
    font-family: 'Inter';
    color: black;
}

h1, h2, h3, p, li {
    hyphens: auto;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 27px;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    color: black;
}

.legalNoticeContainer, .helpContainer {
    width: 100%;
    overflow: hidden;
}

.innerHelpContainer, .innerLegalNoticeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: auto;
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;  
    height: calc(100vh - 89px);
}

ul li {
    color: black;
    display: list-item;
    list-style-type: circle;
}

/* ================================ SCROLLBAR ====================================== */

.innerHelpContainer::-webkit-scrollbar, .innerLegalNoticeContainer::-webkit-scrollbar {
    width: 10px;
    scrollbar-gutter: stable;
}

/* .contactList::-webkit-scrollbar-track {
    background-color: white;
} */

.innerHelpContainer::-webkit-scrollbar-thumb, .innerLegalNoticeContainer::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border: 2px solid white;
    border-radius: 6px;
}

.innerHelpContainer::-webkit-scrollbar-button, .innerLegalNoticeContainer::-webkit-scrollbar-button  {
    color: #A8A8A8;
}

.innerHelpContainer::-webkit-scrollbar-button, .innerLegalNoticeContainer::-webkit-scrollbar-button {
    display: block;
    background-repeat: no-repeat;   
    background-size: 50%;
    background-position: center;
}

.innerHelpContainer::-webkit-scrollbar-button:vertical:start:increment, .innerLegalNoticeContainer::-webkit-scrollbar-button:vertical:start:increment  {
    background-image: url(../img/upArrow.svg);
    background-size: 10px 4px;  
}

.innerHelpContainer::-webkit-scrollbar-button:vertical:start:decrement, .innerLegalNoticeContainer::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

.innerHelpContainer::-webkit-scrollbar-button:vertical:end:increment, .innerLegalNoticeContainer::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.innerHelpContainer::-webkit-scrollbar-button:vertical:end:decrement, .innerLegalNoticeContainer::-webkit-scrollbar-button:vertical:end:decrement {
    background-image: url(../img/downArrow.svg);   
    background-size: 10px 4px;  
}

@media(max-width: 950px) {
    h1 {
        font-size: 50px;
    }
}

@media(max-width: 720px) {
    .innerHelpContainer, .innerLegalNoticeContainer {
        padding: 1rem 1rem 1rem 1rem;  
    }
    .helpContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h1 {
    font-size: 40px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 17px;
        margin-bottom: 0;
    }

    p, li {
        font-size: 15px;
    }
}

@media(max-width: 480px) {
    .helpContainer {
        height: 100%;
        padding: 0;
    }

    .innerHelpContainer, .innerLegalNoticeContainer {
        height: inherit;
    }

    .legalNoticeContainer, .helpContainer {
        position: relative;
        top: 0;
        height: inherit;
    }

    h1 {
        font-size: 35px;
        }
    
    h2 {
        font-size: 17px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 15px;
        margin-bottom: 0;
    }

    p, li {
        font-size: 13px;
    }
}
