/* body {
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;

}

:root {
    --design: #ff7a00;
    --sales: #fc71ff;
    --backoffice: #1FD7C1;
    --marketing: #0038ff;
    --media: #ffc702;
}

li {
    text-decoration: none;
    list-style: none;
    /*color: #f6f7f8;
    display: flex;
    gap: 18px;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
}

.sideNavBar {
    position: relative;
    height: 100%;
    width: 232px;
    background-color: #2a3647;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sideNavBarList {
    color: white;
    gap: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sideNavBarTask {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sideNavBarTask span {
    color: white;
}

.sideNavBarLegalNotice {
    margin: 50px 0px 25px 0px;
}

.placeholderRight {
    position: relative;
    width: calc(100vw - 232px);
}

.placeholderTop {
    position: relative;
    top: 0px;
    height: 89px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 36px 20px 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.placeholderBottom {
    height: calc(100% - 89px);
}

.placeholderRightLeft {
    position: relative;
    left: 0px;
    height: calc(100% - 89px);
}

/* Logo TopLeftCorner
.sideNavBarLogo {
    position: absolute;
    top: 66px;
    left: 66px;
    z-index: 3;
}

.whiteLogo {
    position: relative;
    width: 100px;
    height: 121px;
}

.blackLogo {
    position: relative;
    display: none;
}

/* SideBar
.svg {
    width: 25px;
    height: 25px;
}

.legalnotice {
    margin-top: 100px;
    margin-bottom: 25px;
}
/*/////////////////////////////////////*/

.main-container {
    padding-left: 100px;
}

h1 {
    padding-right: 30px;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

button {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.content-container {
    display: flex;
    gap: 50px;
}

label {
    font-weight: 400;
    font-size: 21px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 506px;
    gap: 10px;
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
.select-wrapper {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    padding: 13px 21px;
    background-color: white;
    outline: none;
}

.sector_top {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    align-items: center;
    font-size: 18px;
    padding: 5px 20px;
}

.sector_top img {
    height: 8px;
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
}

.category-choices {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.assigned-to-choices {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
}

select {
    appearance: none;
    background: url(/assets/img/arrow.png) 96% / 3% no-repeat white;
    cursor: pointer;
}

textarea {
    min-height: 119px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 18px 21px;
    outline: none;
    resize: vertical;
    font-size: 21px;
    font-weight: 400;
}

select::-ms-expand {
    display: none;
}

.middle-gap {
    border-left: 1px solid #D1D1D1;
    height: 506px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 506px;
    gap: 10px;
    position: relative;
}

.features-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px
}

.date {
    cursor: pointer;
}

.prio-btn-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.prio-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.prio-btn:hover {
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    width: 110%;
}

.prio-btn-red,
.prio-btn-orange,
.prio-btn-green {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 61, 0);
    color: white;
    width: 100%;
    height: 51px;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.prio-btn-orange {
    background-color: rgb(255, 168, 0);
}

.prio-btn-green {
    background-color: #7AE229;
}

.subtask-container {
    width: 100%;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
}

.subtask-input {
    border: 0px !important;
    width: 80%;
    outline: none;
    cursor: pointer;
}

.plus-icon {
    cursor: pointer;
}

.subtask-img-container {
    display: flex;
    gap: 9px;
    padding-right: 15px;
}

.subtask-icons {
    cursor: pointer;
}

.gap-img-subtask {
    width: 1px;
    background-color: #D1D1D1;
}

.submit-and-clear {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.submit-and-clear button {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 18px 10px;
    margin-left: 25px;
    transition: background 255ms ease-in-out;
}

.btn-createTask {
    background: #2A3647;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

.btn-createTask:hover {
    background-color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-clear {
    border: solid 1px #2A3647;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 18px 10px;
    margin-left: 25px;
    transition: background 255ms ease-in-out;
    color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    gap: 10px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.btn-clear:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-clear:hover .clear-img {
    content: url(/img/iconoir_cancel.svg)
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.checkbox_urgen,
.checkbox_medium,
.checkbox_low {
    display: none;
}

.checkbox_urgen[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 61, 0);
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.checkbox_medium[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 168, 0);
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.checkbox_low[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: #7AE229;
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-left: 15px;
    border: white;
}

.category {
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

.category:hover {
    background-color: lightgray;
}

.assigned-to {
    display: flex;
    align-items: center;
    padding: 7px 20px;
}



.prevent-select {
    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none;

}

.assigned-to-line {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
}

.assigned-to-wrapper {
    margin-bottom: 30px;
} */